<h1>private Dashboard <%= current_user.email %></h1>
<p>this page should only be accessible to authenticated users.</p>
<div class="flex flex-col">
  <div class="grid grid-cols-3 gap-3">
    <% Current.user.sessions.each do |session| %>
      <div class="flex flex-col space-y-2 bg-gray-100 shadow rounded p-4">
        <p><%= Current.user.email %></p>
        <p><%= session.user_agent %></p>
        <p><%= session.remote_ip %></p>
      </div>
    <% end %>
  </div>
</div>